/** @format */

.navbar {
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  transition: all 0.2s ease-in;
  z-index: 2;
  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    img {
      height: 25px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        cursor: pointer;
      }
      img {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        object-fit: cover;
        cursor: pointer;
      }
      .profile {
        cursor: pointer;
        .options {
          display: none;
        }

        &:hover {
          .options {
            display: flex;

            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
